
img {
  float: left;
  margin-left:5px;
  overflow-wrap: initial;


}
body {
  border-width: 0px 0px 0px 0px;
margin: 0;
padding: 0;
font-family: sans-serif;
color: black;


}

.li {
  margin-left: 0px;
  text-indent: 0%;



}
/* .fitness-container{
  position: relative;
  overflow:auto;
  max-width: 100%;
  height: 300px;
  margin: 5px;
  border-left: 0em solid transparent;
  border-right: 0em solid transparent;
  text-overflow: ellipsis;
  text-align:justify;
  color: black; */

/* } */
.fitness-container {

  margin-bottom: 15%;
  /* position: absolute; */
  overflow-wrap: break-word;
  text-align: left;
  text-overflow: ellipsis;
  width:(100%);
  height:(100%);
  background-color: dimgray;
  float:none;
  box-sizing: border-box;
  overflow-wrap:normal

  
  

  }

  h3 {
    text-align: center;
    color:black;



  }
  h5 { 
    text-align: center;
    color: black;

  }
  h6 {
    text-indent:3px;
    color: black;
    text-justify:inter-word;
    text-align: justify;
    text-indent: 20px;
    word-spacing: 0px;
    word-break:keep-all;
    margin-right: 10px;
    margin-left:1px;
  
  
    
  }
  .p {

    line-height: 0;

    letter-spacing: 0px;
  }
  


} 
/* .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px -30px);
  background:#ff0;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; */


}








/* .fitness-container{

    
 */
