.main-containter{
    display: flex;
    flex-direction: column;
}
.header-containter{
    height: 650px;
    width: 100%;
    background-image:url(https://images.squarespace-cdn.com/content/v1/5b96a278cc8fed3edf98dd98/1538459496942-5NBWBFSM2APP8ON86B7T/cover-levelup.jpg) ;
   position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.mental-health-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fitness-container{
    display: flex;
    flex-direction: row;
}

.mental-health-container img{
    height: 20vh;
    width: 40px
}

