*{
    margin: 0
}
.main-containter{
    display: flex;
    flex-direction: column;
    
}
.header-containter{
    height: 675px;
    width: 100%;
    background-position: center;
    background-image:url(https://images.squarespace-cdn.com/content/v1/5b96a278cc8fed3edf98dd98/1538459496942-5NBWBFSM2APP8ON86B7T/cover-levelup.jpg) ;
    background-size: cover;
    background-attachment: fixed;
   top: 0px;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hLogo{
    position: absolute;
    left: 100px;
    top: 500px;
    font-size: 100px;
    color: #d3a121;
    font-weight: bold;
}
.mission{
    position: absolute;
    left: 100px;
    top: 650px;
    font-size: 25px;
    color: #d3a121;
    font-weight: bold;
}

.addContent{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-color:#000000;
    border-style:solid;
    border-color: #000000;
    border-width: 10px;
    position: absolute;
    z-index: 2;
    }

.innerHtext{ 
    color: #d3a121;
    font-family: impact,fantasy;
    font-size: 35px;
    }
    .innerHtext2{color: #d3a121;
        margin-left: 10px;
        font-family: impact,fantasy;
        font-size: 35px;
    }



/* CSS for Mental Health Container and its children */

.mental-health-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 300px;
    z-index: 3;
    background-color: #d3a121;
}

.mental-health-qoute{
    text-align: center;
    
}

.mental-health-container h3{
    padding-top: 20px;
    text-decoration: solid;
    text-align: center;
}

.content-containter{
    margin: 10px;
    font-size: 18px;
    align-items: center;
    padding: 20px;
    justify-items: center;
}

/*Fitness Container code*/

.fitness-container{
    display: flex;
    flex-direction: column;
    z-index: 4;
    justify-content: center;
    
    
}
.box {
    background-color: rgb(229, 179, 29);
}

#Ben {
    display:flex;
    padding-left: 50px;
    flex-wrap:wrap;
    text-align: center;
    margin-top: 5%;
    align-items:center;
    background-color: none;

}
#doing {
    text-align:center;
    background-color:none;
    align-items: stretch;
    position:relative;
    
   

}

.nic-cont {
    display:flex;
    flex-direction:row;
    padding: none;
    vertical-align: middle;
    
   

}


/*Fitness Container code ends*/



.mental-health-container img{

    height: 20vh;
    width: 40px;
    z-index:5 ;
    
}

.mental-health-list-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/*customizes search bar */

body{ 
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: impact 
}

nav{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100px;
    padding:10px 90px;
    background:rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #000000;}
    .logo{
        padding: 22px 20;
        height: 80px;
        float: left;
        font-family:fantasy,;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        color: #d3a121;
    }

    nav ul{
        list-style: none;
        float: right;
        margin: 0px;
        padding: 0px;
        display: flex;
    }

     .navList{
        line-height: 80px;
        color: #d3a121;
        padding: 12px 30px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .navList:hover{
        color: white;
    }

    .food-container{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 300px;
        z-index: 3;
        background-color: #d3a121;
        padding: 100px;
    }

    /* Media Query */

    @media(max-width:1000px){
        html { font-size: 9px; }
    }